/* Styles de base pour l'application React.
  Nous utilisons les directives de Tailwind CSS pour injecter les utilitaires, 
  les composants et les classes de base.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assurer que l'application prend toute la hauteur de l'écran 
  et utilise la police sans-serif par défaut pour une meilleure lisibilité.
*/
html, body, #root {
  height: 100%;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
